<div class="bar bar-header bar-positive">
    <h1 class="title">NOW REGISTER YOUR OWN COMPANY</h1>
</div>

<br/>
<br/>


<div class="list">
    <label class="item item-input">
        <input type="text" ng-model="admin.companyName" placeholder="Company Name">
    </label>
    <label class="item item-input">
        <input type="text" ng-model="admin.companyAddress" placeholder="Company Address">
    </label>
    <label class="item item-input">
        <input type="number" ng-model="admin.companyPhone" placeholder="Company Phone">
    </label>
</div>
<button class="button button-positive"  ng-click="registerCompany(admin)">
    Register Your Company
</button>
<button class="button button-positive" ng-click="logOut()">
  LOG OUT
</button>
